/* CropRecommend.css */

.crop-recommend-container {
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-form {
    margin: 20px 0;
  }
  
  input {
    margin: 5px;
    padding: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .city-info {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .weather-info {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .dis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  